{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block main %}

<a href="{% url 'bitwise:index' %}">Return to HomePage</a>

<h2>{{ object.title }}</h2>

<small><strong>By {{ object.author }}</strong></small><br>
<small>Published on <strong>{{ object.createdOn }}</strong> | Last edited on <strong>{{ object.updatedOn }}</strong></small><br>

<hr>

<p class="mt-4 mb-5">{{ object.entry }}</p>

<h3>More from the author:</h3>
        {% for module in allModules %}
            {% if module.author == object.author %}
                <ul>
                    <li>
                        <a href="{{ module.get_absolute_url }}">
                            {{ module.title }} in {{ module.category }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}

<hr>

<h5>Comments</h5>

{% if request.user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button>Submit</button>
    </form>
{% endif %}

<ul class="list-group list-group-flush mt-4">
{% for comment in comments %}
    <li class="list-group-item">
        {% if comment.module == object %}
            <p class="mb-0"><strong>{{ comment.author }}</strong></p>
            <small class="text-secondary">Commented at {{ comment.createdOn }} | Edited at {{ comment.updatedOn }}</small>
            <p>{{ comment.entry }}</p>
        {% endif %} 
    </li>
{% endfor %}
</ul>

{% if not request.user.is_authenticated %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <button type="submit">LOG IN</button>
    </form>

{% endif %}
{% endblock %}