{% extends 'base.html' %}
{% block title %}Bitwise | Module List{% endblock %}
{% block main %}
    <h1>Modules</h1>
    <div class="form-group mt-4">
        <input type="search" class="form-control" id="search" placeholder="Search for a module..." style="max-width: 400px;">
    </div> 
    {% if request.user.is_authenticated %}
        {% if request.user.profile.authorized %}
            <a class="btn btn-secondary mt-4 text-end" href="{% url 'modules:ModuleCreate' %}">Create a module</a>
        {% endif %}
    {% endif %}
    {% for category in object_list %}
            {% for lesson in category.modules.all %}
                <div class="card my-4 mx-auto" style="max-width: 1336px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://picsum.photos/200" class="img-fluid rounded-start" alt="placeholder" style="width: 100%; max-height: 275px;">
                        </div>
                        <div class="col-md-8 d-flex" style="background-color: #D9D9D9;">
                            <div class="card-body align-self-center mx-4">
                                <h2 class="card-title"><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></h2>
                                <p class="card-subtitle mb-2 text-muted">By {{ lesson.author }}</p>
                                <h5>Category: {{ category.name }}</h5>
                                <div class="card-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe explicabo a suscipit impedit maiores dolorum similique nesciunt mollitia, omnis quaerat sed delectus quos aut id repudiandae magnam error! Odio nisi natus repellat nulla a fugiat aperiam quam dolores necessitatibus distinctio quaerat labore aut, qui odit eum eveniet nihil quis quasi.
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>  
            {% endfor %}
    {% endfor %}
{% endblock  %}
