{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block main %}

<a class="btn btn-secondary mb-4 text-end" href="{% url 'bitwise:index' %}">Back to Home</a>

<div class="container">
<img src="https://picsum.photos/1000/250" style="width: 100%; max-height: 250px;" class="mb-4">
<h2 class="text-center">{{ object.title }}</h2>
<p class="text-center text-muted"><i>By {{ object.author }}</i></p>
<p class="text-center">Published on <strong>{{ object.createdOn }}</strong> | Last edited on <strong>{{ object.updatedOn }}</strong></p>

<hr>

<p class="mt-4 mb-5">{{ object.entry }}</p>

<h3>More from the author:</h3>
    <div class="card-group">
        {% for module in allModules %}
            {% if module.author == object.author %}
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/250" alt="Card image cap" style="max-height: 200px;">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>
                                <a href="{{ module.get_absolute_url }}">{{ module.title }}</a>
                            </h3>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<hr>

<h5>Comments</h5>

{% if request.user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button>Submit</button>
    </form>
{% endif %}

<ul class="list-group list-group-flush mt-4">
{% for comment in comments %}
    <li class="list-group-item">
        {% if comment.module == object %}
            <p class="mb-0"><strong>{{ comment.author }}</strong></p>
            <small class="text-secondary">Commented at {{ comment.createdOn }} | Edited at {{ comment.updatedOn }}</small>
            <p>{{ comment.entry }}</p>
        {% endif %} 
    </li>
{% endfor %}
</ul>

{% if not request.user.is_authenticated %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <button type="submit">LOG IN</button>
    </form>

{% endif %}
</div>
{% endblock %}