{% extends 'base.html' %}
{% load static %}
{% block title %}Bitwise | Module List{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
    <style>
        #codearea,
        #output {
            height: 300px;
            font-size: 16px;
            width: 100%;
            border: 1px solid green;
            border-radius: 5px;
            padding: 12px;
            margin-bottom: 24px;
            resize: vertical;
        }

        #output {
            height: 150px;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block main %}
    <h1>Compiler</h1>
    <hr>
    <form action="/modules/compiler/run" method="post">
        {% csrf_token %}
        <div>
            <label for="codearea">Code Area</label>
            <textarea id="codearea" name="codearea" rows="10" >{{ code }}</textarea>
        </div>
        <hr>
        <div>
            <label for="output">Output</label>
            <textarea id="output" name="output" rows="4" disabled>{{ output }}</textarea>
        </div>
        <button type="submit">Run Code</button>
    </form>
{% endblock  %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // $(document).ready(function () {
        //     var url = window.location;
        //     $('ul.nav a').filter(function() {
        //         return this.href != url;
        //     }).removeClass('active');

        //     $('ul.nav a').filter(function() {
        //         return this.href == url;
        //     }).addClass('active');
        // });
        
        var codeEditor = CodeMirror.fromTextArea(document.getElementById("codearea"), {
            mode: "python",
            lineNumbers: true,
            indentUnit: 4,
            extraKeys: { Tab: "indentMore", "Shift-Tab": "indentLess" },
        });
    </script>
{% endblock %}