{% extends 'base.html' %}
{% load static %}
{% block title %}Bitwise | Code Editors{% endblock %}
{% block main %}
<h1>Code Editors</h1>
<hr>
<div class="card my-4 mx-auto" style="max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'img/card_python.png' %}" class="img-fluid rounded-start" alt="python" style="width: 100%; max-height: 300px;">
        </div>
        <div class="col-md-8 d-flex" style="background-color: #D9D9D9;">
            <div class="card-body align-self-center mx-4">
                <h2 class="card-title"><a href="python">Python Code Editor</a></h2>
            </div>
        </div>
    </div>
</div>
<div class="card my-4 mx-auto" style="max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'img/card_webdev.png' %}" class="img-fluid rounded-start" alt="webdev" style="width: 100%; max-height: 300px;">
        </div>
        <div class="col-md-8 d-flex" style="background-color: #D9D9D9;">
            <div class="card-body align-self-center mx-4">
                <h2 class="card-title"><a href="webdev">Web Code Editor</a></h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}