@font-face {
    font-family: "K2D";
    src: url("font/K2D-Regular.ttf");
}

@font-face {
    font-family: "Laila";
    src: url("font/Laila-Regular.ttf");
}

* { box-sizing: border-box; }

body {
    margin: auto;
    min-width: 180px;
    display: flex;
    flex-basis: auto;
    flex-flow: row wrap;
    justify-content: center;
}

header {
    top: 0;
    background-color: #D9D9D9;
    width: 100%;
    height: 4rem;
}

h1 {
    font-family: 'K2D';
    font-size: 5rem;
}

button {
    background-color: #D9D9D9;
    font-family: 'Laila';
}

a {
    color: #444;
    font-family: 'Laila';
    font-style: italic;
}

.login-alters {
    display: flex;
    padding: 1.5rem;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
}

