{% extends 'base.html' %}
{% load static %}

{% block scripts %}


{% endblock scripts %}

{% block title %}Create Quiz{% endblock title %}


{% block main %}

<div class="container text-center py-4">
    <h1 class="">Create Quiz</h1>
</div>

<form method="post">
    {% csrf_token %}
    {{ quiz_form.as_p }}
    <button type="submit">Create Quiz</button>
</form>


<div class="py-3">
    <a href="{% url 'quizzes:quiz_list_view' %}" class="btn btn-danger" id="">
        Go back
    </a>
</div>


{% endblock main %}