{% extends 'base.html' %}
{% block title %} Create Quiz {% endblock title %}
{% block main %}

{% if request.user.profile.authorized %}
<h2>Questions</h2>
<form method="post">
    {% csrf_token %}
    {{ question_formset.management_form }}
    {% for q_form in question_formset %}
        <div class="question-form">
            {{ q_form.as_p }}
            {% if q_form.instance.image %}
                <img src="{{ q_form.instance.image.url }}" alt="Current Question Image" style="max-width: 150px;">
            {% endif %}
            {% if q_form.instance.question_type == 'multiple_choice' %}
                {# ... display multiple choice option formset ... #}
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update Quiz</button>
</form>

{% endif %}

{% endblock %}